{
  "name": "datagen",
  "config": {
    "connector.class": "io.confluent.kafka.connect.datagen.DatagenConnector",
    "kafka.topic": "test1",
    "schema.filename": "/Users/yeva/git/kafka-connect-datagen/src/main/resources/users_schema.avro",
    "schema.keyfield": "userid",
    "tasks.max": "1"
  }
}
